<div class="input">
  <textarea class="input__textarea" [(ngModel)]="inputValue"></textarea>
</div>

<button class="check-button" (click)="autoInput(1)">自動入力例１</button>
<button class="check-button" (click)="autoInput(2)">自動入力例２</button>
<button class="check-button" (click)="autoInput(3)">自動入力例３</button>

<button class="check-button" (click)="checkBingo()">
  ビンゴの結果を確認する
</button>

<div class="output">
  <h2>出力結果</h2>

  <p *ngIf="!loading && isInputCompleted">
    {{ result ? 'yes' : 'no' }}
  </p>
</div>
